.BusinessPage .title {
  font-size: 34px;
}

.BusinessPage .location-icon {
  position: absolute;
  width: 12px;
  height: 12px;
  left: 100px;
  top: 46%;
  opacity: 1;
}

.BusinessPage .phone-icon {
  position: absolute;
  width: 12px;
  height: 12px;
  left: 100px;
  top: 55px;
}

.scissors {
  width: 100%;
}

.BusinessPage .favorite-icon {
  position: absolute;
  left: 50%;
  top: 20px;
}

.BusinessPage select {
  position: relative;
  left: 50%;
  top: 15px;
  transform: translateX(-50%);
  font-size: 23px;
}

.days {
  display: flex;
  flex-wrap: wrap;
  row-gap: 7px;
  column-gap: 2px;
  padding-top: 40px;
}

.msg {
  margin-top: 40px;
}

.square {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background-color: #eee;
}

.days-names {
  display: flex;
  flex-direction: row;
  column-gap: 2px;
  row-gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
}
