.BusinessPage .title {
  font-size: 34px;
}

.BusinessPage .location-icon {
  position: absolute;
  width: 12px;
  height: 12px;
  left: 100px;
  top: 46%;
  opacity: 1;
}

.BusinessPage .phone-icon {
  position: absolute;
  width: 12px;
  height: 12px;
  left: 100px;
  top: 55px;
}

.scissors {
  width: 40%;
}

.BusinessPage .favorite-icon {
  position: absolute;
  left: 50%;
  top: 20px;
}

.BusinessPage select {
  position: relative;
  left: 50%;
  top: 15px;
  transform: translateX(-50%);
  font-size: 23px;
}

.BusinessPage .days {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
  width: 440px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  gap: 2px;
}
.BusinessPage .days > div,
.BusinessPage .days a {
  width: 60px;
  display: flex;
  justify-content: center;
}

.BusinessPage select {
  margin-bottom: 25px;
}

.msg {
  margin-top: 40px;
}

.square {
  font-size: 30px;
  background-color: #eee;
}
