.addEditBusiness {
  display: flex;
  flex-direction: column;
}
.addEditBusiness form {
  display: flex;
  flex-direction: column;
}
.addEditBusiness form select {
  width: 40%;
  margin: auto;
}
.choosemonth {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
#weekinfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  margin-top: 40px;
}

.dayinfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
