.HoursPage .date {
  text-align: center;
  margin: 20px 0px;
}

.HoursPage .hours {
  max-width: 320px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 4px;
  row-gap: 10px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.HoursPage .hours > div {
  width: 100px;
}

.HoursPage .hours > div:last-of-type {
  border: 2px solid red;
  justify-self: start;
}
