.HoursPage .date {
  text-align: center;
  margin: 20px 0px;
}

.HoursPage .hours {
  width: 420px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 4px;
  row-gap: 10px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.HoursPage .hours > div {
  width: 100px;
}
